<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>Wallet - Modern Admin - Clean Bootstrap 4 Dashboard HTML Template + Bitcoin Dashboard</title>
    <link rel="apple-touch-icon" href="../../../app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../../app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/vendors.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/datatable/datatables.min.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN MODERN CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/app.css">
    <!-- END MODERN CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/menu/menu-types/vertical-menu-modern.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/pages/single-page.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/cryptocoins/cryptocoins.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
    <!-- END Custom CSS-->
  </head>
  <body class="vertical-layout vertical-menu-modern 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
    <script src="/wallet-function-bundle.js"></script>
    <!-- fixed-top-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-dark navbar-shadow">
      <div class="navbar-wrapper">
        <div class="navbar-header">
          <ul class="nav navbar-nav flex-row position-relative">
            <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
            <li class="nav-item mr-auto"><a class="navbar-brand" href="index.html"><img class="brand-logo" alt="modern admin logo" src="../../../app-assets/images/logo/RXE.png">
              <!--  <h3 class="brand-text">Modern Admin</h3></a></li> -->
            <li class="nav-item d-none d-md-block nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="toggle-icon ft-toggle-right font-medium-3 white" data-ticon="ft-toggle-right"></i></a></li>
            <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
          </ul>
        </div>
        <div class="navbar-container content">
          <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="nav navbar-nav mr-auto float-left">
              <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>
              <li class="dropdown nav-item mega-dropdown"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">Mega</a>
                <ul class="mega-dropdown-menu dropdown-menu row">
                  <li class="col-md-2">
                    <h6 class="dropdown-menu-header text-uppercase mb-1"><i class="la la-newspaper-o"></i> News</h6>
                    <div id="mega-menu-carousel-example">
                      <div><img class="rounded img-fluid mb-1" src="../../../app-assets/images/slider/slider-2.png" alt="First slide"><a class="news-title mb-0" href="#">Poster Frame PSD</a>
                        <p class="news-content"><span class="font-small-2">January 26, 2018</span></p>
                      </div>
                    </div>
                  </li>
                  <li class="col-md-3">
                    <h6 class="dropdown-menu-header text-uppercase"><i class="la la-random"></i> Drill down menu</h6>
                    <ul class="drilldown-menu">
                      <li class="menu-list">
                        <ul>
                          <li><a class="dropdown-item" href="layout-2-columns.html"><i class="ft-file"></i> Page layouts & Templates</a></li>
                          <li><a href="#"><i class="ft-align-left"></i> Multi level menu</a>
                            <ul>
                              <li><a class="dropdown-item" href="#"><i class="la la-bookmark-o"></i>  Second level</a></li>
                              <li><a href="#"><i class="la la-lemon-o"></i> Second level menu</a>
                                <ul>
                                  <li><a class="dropdown-item" href="#"><i class="la la-heart-o"></i>  Third level</a></li>
                                  <li><a class="dropdown-item" href="#"><i class="la la-file-o"></i> Third level</a></li>
                                  <li><a class="dropdown-item" href="#"><i class="la la-trash-o"></i> Third level</a></li>
                                  <li><a class="dropdown-item" href="#"><i class="la la-clock-o"></i> Third level</a></li>
                                </ul>
                              </li>
                              <li><a class="dropdown-item" href="#"><i class="la la-hdd-o"></i> Second level, third link</a></li>
                              <li><a class="dropdown-item" href="#"><i class="la la-floppy-o"></i> Second level, fourth link</a></li>
                            </ul>
                          </li>
                          <li><a class="dropdown-item" href="color-palette-primary.html"><i class="ft-camera"></i> Color palette system</a></li>
                          <li><a class="dropdown-item" href="sk-2-columns.html"><i class="ft-edit"></i> Page starter kit</a></li>
                          <li><a class="dropdown-item" href="changelog.html"><i class="ft-minimize-2"></i> Change log</a></li>
                          <li><a class="dropdown-item" href="https://pixinvent.ticksy.com/"><i class="la la-life-ring"></i> Customer support center</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="col-md-3">
                    <h6 class="dropdown-menu-header text-uppercase"><i class="la la-list-ul"></i> Accordion</h6>
                    <div id="accordionWrap" role="tablist" aria-multiselectable="true">
                      <div class="card border-0 box-shadow-0 collapse-icon accordion-icon-rotate">
                        <div class="card-header p-0 pb-2 border-0" id="headingOne" role="tab"><a data-toggle="collapse" data-parent="#accordionWrap" href="#accordionOne" aria-expanded="true" aria-controls="accordionOne">Accordion Item #1</a></div>
                        <div class="card-collapse collapse show" id="accordionOne" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true">
                          <div class="card-content">
                            <p class="accordion-text text-small-3">Caramels dessert chocolate cake pastry jujubes bonbon. Jelly wafer jelly beans. Caramels chocolate cake liquorice cake wafer jelly beans croissant apple pie.</p>
                          </div>
                        </div>
                        <div class="card-header p-0 pb-2 border-0" id="headingTwo" role="tab"><a class="collapsed" data-toggle="collapse" data-parent="#accordionWrap" href="#accordionTwo" aria-expanded="false" aria-controls="accordionTwo">Accordion Item #2</a></div>
                        <div class="card-collapse collapse" id="accordionTwo" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                          <div class="card-content">
                            <p class="accordion-text">Sugar plum bear claw oat cake chocolate jelly tiramisu dessert pie. Tiramisu macaroon muffin jelly marshmallow cake. Pastry oat cake chupa chups.</p>
                          </div>
                        </div>
                        <div class="card-header p-0 pb-2 border-0" id="headingThree" role="tab"><a class="collapsed" data-toggle="collapse" data-parent="#accordionWrap" href="#accordionThree" aria-expanded="false" aria-controls="accordionThree">Accordion Item #3</a></div>
                        <div class="card-collapse collapse" id="accordionThree" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                          <div class="card-content">
                            <p class="accordion-text">Candy cupcake sugar plum oat cake wafer marzipan jujubes lollipop macaroon. Cake dragée jujubes donut chocolate bar chocolate cake cupcake chocolate topping.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="col-md-4">
                    <h6 class="dropdown-menu-header text-uppercase mb-1"><i class="la la-envelope-o"></i> Contact Us</h6>
                    <form class="form form-horizontal">
                      <div class="form-body">
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label" for="inputName1">Name</label>
                          <div class="col-sm-9">
                            <div class="position-relative has-icon-left">
                              <input class="form-control" type="text" id="inputName1" placeholder="John Doe">
                              <div class="form-control-position pl-1"><i class="la la-user"></i></div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label" for="inputEmail1">Email</label>
                          <div class="col-sm-9">
                            <div class="position-relative has-icon-left">
                              <input class="form-control" type="email" id="inputEmail1" placeholder="john@example.com">
                              <div class="form-control-position pl-1"><i class="la la-envelope-o"></i></div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label" for="inputMessage1">Message</label>
                          <div class="col-sm-9">
                            <div class="position-relative has-icon-left">
                              <textarea class="form-control" id="inputMessage1" rows="2" placeholder="Simple Textarea"></textarea>
                              <div class="form-control-position pl-1"><i class="la la-commenting-o"></i></div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12 mb-1">
                            <button class="btn btn-info float-right" type="button"><i class="la la-paper-plane-o"></i> Send          </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </li>
                </ul>
              </li>
              <li class="nav-item nav-search"><a class="nav-link nav-link-search" href="#"><i class="ficon ft-search"></i></a>
                <div class="search-input">
                  <input class="input" type="text" placeholder="Explore Modern...">
                </div>
              </li>
            </ul>
            <ul class="nav navbar-nav float-right">
              <li class="dropdown dropdown-user nav-item"><a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"><span class="mr-1">Hello,<span class="user-name text-bold-700">John Doe</span></span><span class="avatar avatar-online"><img src="../../../app-assets/images/portrait/small/avatar-s-19.png" alt="avatar"><i></i></span></a>
                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#"><i class="ft-user"></i> Edit Profile</a><a class="dropdown-item" href="#"><i class="ft-mail"></i> My Inbox</a><a class="dropdown-item" href="#"><i class="ft-check-square"></i> Task</a><a class="dropdown-item" href="#"><i class="ft-message-square"></i> Chats</a>
                  <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="ft-power"></i> Logout</a>
                </div>
              </li>
              <li class="dropdown dropdown-language nav-item"><a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-gb"></i><span class="selected-language"></span></a>
                <div class="dropdown-menu" aria-labelledby="dropdown-flag"><a class="dropdown-item" href="#"><i class="flag-icon flag-icon-gb"></i> English</a><a class="dropdown-item" href="#"><i class="flag-icon flag-icon-fr"></i> French</a><a class="dropdown-item" href="#"><i class="flag-icon flag-icon-cn"></i> Chinese</a><a class="dropdown-item" href="#"><i class="flag-icon flag-icon-de"></i> German</a></div>
              </li>
              <li class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon ft-bell"></i><span class="badge badge-pill badge-default badge-danger badge-default badge-up badge-glow">5</span></a>
                <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                  <li class="dropdown-menu-header">
                    <h6 class="dropdown-header m-0"><span class="grey darken-2">Notifications</span></h6><span class="notification-tag badge badge-default badge-danger float-right m-0">5 New</span>
                  </li>
                  <li class="scrollable-container media-list w-100"><a href="javascript:void(0)">
                      <div class="media">
                        <div class="media-left align-self-center"><i class="ft-plus-square icon-bg-circle bg-cyan"></i></div>
                        <div class="media-body">
                          <h6 class="media-heading">You have new order!</h6>
                          <p class="notification-text font-small-3 text-muted">Lorem ipsum dolor sit amet, consectetuer elit.</p><small>
                            <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">30 minutes ago</time></small>
                        </div>
                      </div></a><a href="javascript:void(0)">
                      <div class="media">
                        <div class="media-left align-self-center"><i class="ft-download-cloud icon-bg-circle bg-red bg-darken-1"></i></div>
                        <div class="media-body">
                          <h6 class="media-heading red darken-1">99% Server load</h6>
                          <p class="notification-text font-small-3 text-muted">Aliquam tincidunt mauris eu risus.</p><small>
                            <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Five hour ago</time></small>
                        </div>
                      </div></a><a href="javascript:void(0)">
                      <div class="media">
                        <div class="media-left align-self-center"><i class="ft-alert-triangle icon-bg-circle bg-yellow bg-darken-3"></i></div>
                        <div class="media-body">
                          <h6 class="media-heading yellow darken-3">Warning notifixation</h6>
                          <p class="notification-text font-small-3 text-muted">Vestibulum auctor dapibus neque.</p><small>
                            <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                        </div>
                      </div></a><a href="javascript:void(0)">
                      <div class="media">
                        <div class="media-left align-self-center"><i class="ft-check-circle icon-bg-circle bg-cyan"></i></div>
                        <div class="media-body">
                          <h6 class="media-heading">Complete the task</h6><small>
                            <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Last week</time></small>
                        </div>
                      </div></a><a href="javascript:void(0)">
                      <div class="media">
                        <div class="media-left align-self-center"><i class="ft-file icon-bg-circle bg-teal"></i></div>
                        <div class="media-body">
                          <h6 class="media-heading">Generate monthly report</h6><small>
                            <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Last month</time></small>
                        </div>
                      </div></a></li>
                  <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center" href="javascript:void(0)">Read all notifications</a></li>
                </ul>
              </li>
              <li class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon ft-mail">             </i></a>
                <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                  <li class="dropdown-menu-header">
                    <h6 class="dropdown-header m-0"><span class="grey darken-2">Messages</span></h6><span class="notification-tag badge badge-default badge-warning float-right m-0">4 New</span>
                  </li>
                  <li class="scrollable-container media-list w-100"><a href="javascript:void(0)">
                      <div class="media">
                        <div class="media-left"><span class="avatar avatar-sm avatar-online rounded-circle"><img src="../../../app-assets/images/portrait/small/avatar-s-19.png" alt="avatar"><i></i></span></div>
                        <div class="media-body">
                          <h6 class="media-heading">Margaret Govan</h6>
                          <p class="notification-text font-small-3 text-muted">I like your portfolio, let's start.</p><small>
                            <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                        </div>
                      </div></a><a href="javascript:void(0)">
                      <div class="media">
                        <div class="media-left"><span class="avatar avatar-sm avatar-busy rounded-circle"><img src="../../../app-assets/images/portrait/small/avatar-s-2.png" alt="avatar"><i></i></span></div>
                        <div class="media-body">
                          <h6 class="media-heading">Bret Lezama</h6>
                          <p class="notification-text font-small-3 text-muted">I have seen your work, there is</p><small>
                            <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Tuesday</time></small>
                        </div>
                      </div></a><a href="javascript:void(0)">
                      <div class="media">
                        <div class="media-left"><span class="avatar avatar-sm avatar-online rounded-circle"><img src="../../../app-assets/images/portrait/small/avatar-s-3.png" alt="avatar"><i></i></span></div>
                        <div class="media-body">
                          <h6 class="media-heading">Carie Berra</h6>
                          <p class="notification-text font-small-3 text-muted">Can we have call in this week ?</p><small>
                            <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Friday</time></small>
                        </div>
                      </div></a><a href="javascript:void(0)">
                      <div class="media">
                        <div class="media-left"><span class="avatar avatar-sm avatar-away rounded-circle"><img src="../../../app-assets/images/portrait/small/avatar-s-6.png" alt="avatar"><i></i></span></div>
                        <div class="media-body">
                          <h6 class="media-heading">Eric Alsobrook</h6>
                          <p class="notification-text font-small-3 text-muted">We have project party this saturday.</p><small>
                            <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">last month</time></small>
                        </div>
                      </div></a></li>
                  <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center" href="javascript:void(0)">Read all messages</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- ////////////////////////////////////////////////////////////////////////////-->


    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true" style="left: 0;">
      <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
          <li class=" nav-item"><a href="/dashboard"><i class="la la-home"></i><span class="menu-title" data-i18n="">Dashboard</span></a>
          </li>
          <li class=" navigation-header"><span data-i18n="nav.category.crypto">Crypto</span><i class="undefined ft-minus" data-toggle="tooltip" data-placement="right" data-original-title="Crypto"></i>
          </li>
          <li class=" nav-item"><a href="crypto-transactions.html"><i class="la la-list"></i><span class="menu-title" data-i18n="">Transactions</span></a>
          </li>
          <li class=" nav-item"><a href="crypto-currency-exchange.html"><i class="la la-money"></i><span class="menu-title" data-i18n="">Currency Exchange</span></a>
          </li>
          <li class=" nav-item"><a href="crypto-trading.html"><i class="la la-dollar"></i><span class="menu-title" data-i18n="">Trading</span></a>
          </li>
          <li class="active"><a href="/wallet"><i class="la la-credit-card"></i><span class="menu-title" data-i18n="">Wallet</span></a>
          </li>
          <li class=" nav-item"><a href="crypto-history.html"><i class="la la-check-circle-o"></i><span class="menu-title" data-i18n="">History</span></a>
          </li>
        <!--  <li class=" navigation-header"><span data-i18n="nav.category.ui">User Interface</span><i class="undefined ft-minus" data-toggle="tooltip" data-placement="right" data-original-title="User Interface"></i>
          </li>
          <li class=" nav-item"><a href="#"><i class="la la-server"></i><span class="menu-title" data-i18n="nav.components.main">Components</span></a>
            <ul class="menu-content">
              <li><a class="menu-item" href="component-alerts.html" data-i18n="nav.components.component_alerts">Alerts</a>
              </li>
              <li><a class="menu-item" href="component-callout.html" data-i18n="nav.components.component_callout">Callout</a>
              </li>
              <li><a class="menu-item" href="#" data-i18n="nav.components.components_buttons.main">Buttons</a>
                <ul class="menu-content">
                  <li><a class="menu-item" href="component-buttons-basic.html" data-i18n="nav.components.components_buttons.component_buttons_basic">Basic Buttons</a>
                  </li>
                  <li><a class="menu-item" href="component-buttons-extended.html" data-i18n="nav.components.components_buttons.component_buttons_extended">Extended Buttons</a>
                  </li>
                </ul>
              </li>
              <li><a class="menu-item" href="component-carousel.html" data-i18n="nav.components.component_carousel">Carousel</a>
              </li>
              <li><a class="menu-item" href="component-collapse.html" data-i18n="nav.components.component_collapse">Collapse</a>
              </li>
              <li><a class="menu-item" href="component-dropdowns.html" data-i18n="nav.components.component_dropdowns">Dropdowns</a>
              </li>
              <li><a class="menu-item" href="component-list-group.html" data-i18n="nav.components.component_list_group">List Group</a>
              </li>
              <li><a class="menu-item" href="component-modals.html" data-i18n="nav.components.component_modals">Modals</a>
              </li>
              <li><a class="menu-item" href="component-pagination.html" data-i18n="nav.components.component_pagination">Pagination</a>
              </li>
              <li><a class="menu-item" href="component-navs-component.html" data-i18n="nav.components.component_navs_component">Navs Component</a>
              </li>
              <li><a class="menu-item" href="component-tabs-component.html" data-i18n="nav.components.component_tabs_component">Tabs Component</a>
              </li>
              <li><a class="menu-item" href="component-pills-component.html" data-i18n="nav.components.component_pills_component">Pills Component</a>
              </li>
              <li><a class="menu-item" href="component-tooltips.html" data-i18n="nav.components.component_tooltips">Tooltips</a>
              </li>
              <li><a class="menu-item" href="component-popovers.html" data-i18n="nav.components.component_popovers">Popovers</a>
              </li>
              <li><a class="menu-item" href="component-badges.html" data-i18n="nav.components.component_badges">Badges</a>
              </li>
              <li><a class="menu-item" href="component-pill-badges.html">Pill Badges</a>
              </li>
              <li><a class="menu-item" href="component-progress.html" data-i18n="nav.components.component_progress">Progress</a>
              </li>
              <li><a class="menu-item" href="component-media-objects.html" data-i18n="nav.components.component_media_objects">Media Objects</a>
              </li>
              <li><a class="menu-item" href="component-scrollable.html" data-i18n="nav.components.component_scrollable">Scrollable</a>
              </li>
              <li><a class="menu-item" href="component-spinners.html" data-i18n="nav.components.component_spinners">Spinners</a>
              </li>
            </ul>
          </li>
          <li class=" nav-item"><a href="#"><i class="la la-unlock"></i><span class="menu-title" data-i18n="nav.pages.main">Authentication</span></a>
            <ul class="menu-content">
              <li><a class="menu-item" href="login-with-bg-image.html">Login</a>
              </li>
              <li><a class="menu-item" href="register-with-bg-image.html">SignIn</a>
              </li>
              <li><a class="menu-item" href="recover-password.html">Forgot Password</a>
              </li>
            </ul>
          </li>
          <li class=" nav-item"><a href="#"><i class="la la-file-text"></i><span class="menu-title" data-i18n="nav.form_layouts.main">Form Layouts</span></a>
            <ul class="menu-content">
              <li><a class="menu-item" href="form-layout-basic.html" data-i18n="nav.form_layouts.form_layout_basic">Basic Forms</a>
              </li>
              <li><a class="menu-item" href="form-layout-horizontal.html" data-i18n="nav.form_layouts.form_layout_horizontal">Horizontal Forms</a>
              </li>
              <li><a class="menu-item" href="form-layout-hidden-labels.html" data-i18n="nav.form_layouts.form_layout_hidden_labels">Hidden Labels</a>
              </li>
              <li><a class="menu-item" href="form-layout-form-actions.html" data-i18n="nav.form_layouts.form_layout_form_actions">Form Actions</a>
              </li>
              <li><a class="menu-item" href="form-layout-row-separator.html" data-i18n="nav.form_layouts.form_layout_row_separator">Row Separator</a>
              </li>
              <li><a class="menu-item" href="form-layout-bordered.html" data-i18n="nav.form_layouts.form_layout_bordered">Bordered</a>
              </li>
              <li><a class="menu-item" href="form-layout-striped-rows.html" data-i18n="nav.form_layouts.form_layout_striped_rows">Striped Rows</a>
              </li>
              <li><a class="menu-item" href="form-layout-striped-labels.html" data-i18n="nav.form_layouts.form_layout_striped_labels">Striped Labels</a>
              </li>
            </ul>
          </li>
          <li class=" nav-item"><a href="#"><i class="la la-paste"></i><span class="menu-title" data-i18n="nav.form_wizard.main">Form Wizard</span></a>
            <ul class="menu-content">
              <li><a class="menu-item" href="form-wizard-circle-style.html" data-i18n="nav.form_wizard.form_wizard_circle_style">Circle Style</a>
              </li>
              <li><a class="menu-item" href="form-wizard-notification-style.html" data-i18n="nav.form_wizard.form_wizard_notification_style">Notification Style</a>
              </li>
            </ul>
          </li>
          <li class=" nav-item"><a href="#"><i class="la la-table"></i><span class="menu-title" data-i18n="nav.bootstrap_tables.main">Bootstrap Tables</span></a>
            <ul class="menu-content">
              <li><a class="menu-item" href="table-basic.html" data-i18n="nav.bootstrap_tables.table_basic">Basic Tables</a>
              </li>
              <li><a class="menu-item" href="table-border.html" data-i18n="nav.bootstrap_tables.table_border">Table Border</a>
              </li>
              <li><a class="menu-item" href="table-sizing.html" data-i18n="nav.bootstrap_tables.table_sizing">Table Sizing</a>
              </li>
              <li><a class="menu-item" href="table-styling.html" data-i18n="nav.bootstrap_tables.table_styling">Table Styling</a>
              </li>
              <li><a class="menu-item" href="table-components.html" data-i18n="nav.bootstrap_tables.table_components">Table Components</a>
              </li>
            </ul>
          </li>
          <li class=" nav-item"><a href="#"><i class="la la-area-chart"></i><span class="menu-title" data-i18n="nav.chartjs.main">Chartjs</span></a>
            <ul class="menu-content">
              <li><a class="menu-item" href="chartjs-line-charts.html" data-i18n="nav.chartjs.chartjs_line_charts">Line charts</a>
              </li>
              <li><a class="menu-item" href="chartjs-bar-charts.html" data-i18n="nav.chartjs.chartjs_bar_charts">Bar charts</a>
              </li>
              <li><a class="menu-item" href="chartjs-pie-doughnut-charts.html" data-i18n="nav.chartjs.chartjs_pie_doughnut_charts">Pie &amp; Doughnut charts</a>
              </li>
              <li><a class="menu-item" href="chartjs-scatter-charts.html" data-i18n="nav.chartjs.chartjs_scatter_charts">Scatter charts</a>
              </li>
              <li><a class="menu-item" href="chartjs-polar-radar-charts.html" data-i18n="nav.chartjs.chartjs_polar_radar_charts">Polar &amp; Radar charts</a>
              </li>
              <li><a class="menu-item" href="chartjs-advance-charts.html" data-i18n="nav.chartjs.chartjs_advance_charts">Advance charts</a>
              </li>
            </ul>
          </li> -->
        </ul>
      </div>
    </div>

    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row">
          <div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Wallet</h3>
            <div class="row breadcrumbs-top d-inline-block">
              <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                  </li>
                  <li class="breadcrumb-item active">Wallet
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="content-header-right col-md-6 col-12">
            <div class="btn-group float-md-right">
              <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
              <div class="dropdown-menu arrow"><a class="dropdown-item" href="#"><i class="fa fa-calendar-check mr-1"></i> Calender</a><a class="dropdown-item" href="#"><i class="fa fa-cart-plus mr-1"></i> Cart</a><a class="dropdown-item" href="#"><i class="fa fa-life-ring mr-1"></i> Support</a>
                <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fa fa-cog mr-1"></i> Settings</a>
              </div>
            </div>
          </div>
        </div>
        <div class="content-body"><section id="pagination">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Wallet</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table alt-pagination wallet-wrapper">
                            <thead>
                                <tr>
                                    <th>Cryptocurrency</th>
                                    <th>Total</th>
                                    <th>Price</th>
                                    <th>Total Price</th>
                                    <th>Transact</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="currency"> <i class="cc BTC warning"></i> Bitcoin </div>
                                    </td>
                                    <td>
                                        <div class="totalunit">100</div>
                                    </td>
                                    <td>
                                        <div class="price">10</div>
                                    </td>
                                    <td>
                                        <div class="total-price">1000</div>
                                    </td>
                                    <td>
                                        <div class="transact form-inline">
                                            <div class="mr-xl-2 mr-1">
                                                <a href="#"><i class="la la-arrow-circle-o-down"></i> Deposit</a>
                                            </div>
                                            <div>
                                                <a href="#"> <i class="la la-arrow-circle-o-up"></i>Withdraw</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="currency"> <i class="cc LTC info"></i>Litecoin </div>
                                    </td>
                                    <td>
                                        <div class="totalunit">80</div>
                                    </td>
                                    <td>
                                        <div class="price">8</div>
                                    </td>
                                    <td>
                                        <div class="total-price">640</div>
                                    </td>
                                    <td>
                                        <div class="transact form-inline">
                                            <div class="mr-xl-2 mr-1">
                                                <a href="#"><i class="la la-arrow-circle-o-down"></i> Deposit</a>
                                            </div>
                                            <div>
                                                <a href="#"> <i class="la la-arrow-circle-o-up"></i>Withdraw</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="currency"><i class="cc NEO success"></i>NEO</div>
                                    </td>
                                    <td>
                                        <div class="totalunit">75</div>
                                    </td>
                                    <td>
                                        <div class="price">10</div>
                                    </td>
                                    <td>
                                        <div class="total-price">750</div>
                                    </td>
                                    <td>
                                        <div class="transact form-inline">
                                            <div class="mr-xl-2 mr-1">
                                                <a href="#"><i class="la la-arrow-circle-o-down"></i> Deposit</a>
                                            </div>
                                            <div>
                                                <a href="#"> <i class="la la-arrow-circle-o-up"></i>Withdraw</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="currency"> <i class="cc DASH primary"></i>DASH </div>
                                    </td>
                                    <td>
                                        <div class="totalunit"> 90</div>
                                    </td>
                                    <td>
                                        <div class="price">10</div>
                                    </td>
                                    <td>
                                        <div class="total-price">900</div>
                                    </td>
                                    <td>
                                        <div class="transact form-inline">
                                            <div class="mr-xl-2 mr-1">
                                                <a href="#"><i class="la la-arrow-circle-o-down"></i> Deposit</a>
                                            </div>
                                            <div>
                                                <a href="#"> <i class="la la-arrow-circle-o-up"></i>Withdraw</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="currency"> <i class="cc ETH"></i>ETH </div>
                                    </td>
                                    <td>
                                        <div class="totalunit">750</div>
                                    </td>
                                    <td>
                                        <div class="price">10</div>
                                    </td>
                                    <td>
                                        <div class="total-price">7500</div>
                                    </td>
                                    <td>
                                        <div class=" transact form-inline">
                                            <div class="mr-xl-2 mr-1">
                                                <a href="#"><i class="la la-arrow-circle-o-down"></i> Deposit</a>
                                            </div>
                                            <div>
                                                <a href="#"> <i class="la la-arrow-circle-o-up"></i>Withdraw</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="currency"> <i class="cc XRP info"></i> XRP </div>
                                    </td>
                                    <td>
                                        <div class="totalunit">500</div>
                                    </td>
                                    <td>
                                        <div class="price">15</div>
                                    </td>
                                    <td>
                                        <div class="total-price">7500</div>
                                    </td>
                                    <td>
                                        <div class="transact form-inline">
                                            <div class="mr-xl-2 mr-1">
                                                <a href="#"><i class="la la-arrow-circle-o-down"></i> Deposit</a>
                                            </div>
                                            <div>
                                                <a href="#"> <i class="la la-arrow-circle-o-up"></i>Withdraw</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="currency"> <i class="cc BTA success"></i> BTA </div>
                                    </td>
                                    <td>
                                        <div class="totalunit">700</div>
                                    </td>
                                    <td>
                                        <div class="price">10</div>
                                    </td>
                                    <td>
                                        <div class="total-price">7000</div>
                                    </td>
                                    <td>
                                        <div class="transact form-inline">
                                            <div class="mr-xl-2 mr-1">
                                                <a href="#"><i class="la la-arrow-circle-o-down"></i> Deposit</a>
                                            </div>
                                            <div>
                                                <a href="#"> <i class="la la-arrow-circle-o-up"></i>Withdraw</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="currency"> <i class="cc XMR primary"></i> XMR </div>
                                    </td>
                                    <td>
                                        <div class="totalunit">400</div>
                                    </td>
                                    <td>
                                        <div class="price">80</div>
                                    </td>
                                    <td>
                                        <div class="total-price">32000</div>
                                    </td>
                                    <td>
                                        <div class="transact form-inline">
                                            <div class="mr-xl-2 mr-1">
                                                <a href="#"><i class="la la-arrow-circle-o-down"></i> Deposit</a>
                                            </div>
                                            <div>
                                                <a href="#"> <i class="la la-arrow-circle-o-up"></i>Withdraw</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="currency"> <i class="cc ANC warning"></i> ANC </div>
                                    </td>
                                    <td>
                                        <div class="totalunit">650</div>
                                    </td>
                                    <td>
                                        <div class="price">10</div>
                                    </td>
                                    <td>
                                        <div class="total-price">6500</div>
                                    </td>
                                    <td>
                                        <div class="transact form-inline">
                                            <div class="mr-xl-2 mr-1">
                                                <a href="#"><i class="la la-arrow-circle-o-down"></i> Deposit</a>
                                            </div>
                                            <div>
                                                <a href="#"> <i class="la la-arrow-circle-o-up"></i>Withdraw</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="currency"> <i class="cc ARK"></i> ARK </div>
                                    </td>
                                    <td>
                                        <div class="totalunit">200</div>
                                    </td>
                                    <td>
                                        <div class="price">200</div>
                                    </td>
                                    <td>
                                        <div class="total-price">40000</div>
                                    </td>
                                    <td>
                                        <div class="transact form-inline">
                                            <div class="mr-xl-2 mr-1">
                                                <a href="#"><i class="la la-arrow-circle-o-down"></i> Deposit</a>
                                            </div>
                                            <div>
                                                <a href="#"> <i class="la la-arrow-circle-o-up"></i>Withdraw</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="currency"> <i class="cc BC info"></i> BC </div>
                                    </td>
                                    <td>
                                        <div class="totalunit">000</div>
                                    </td>
                                    <td>
                                        <div class="price">10</div>
                                    </td>
                                    <td>
                                        <div class="total-price">10000</div>
                                    </td>
                                    <td>
                                        <div class="transact form-inline">
                                            <div class="mr-xl-2 mr-1">
                                                <a href="#"><i class="la la-arrow-circle-o-down"></i> Deposit</a>
                                            </div>
                                            <div>
                                                <a href="#"> <i class="la la-arrow-circle-o-up"></i>Withdraw</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="currency"> <i class="cc DCR success"></i> DCR </div>
                                    </td>
                                    <td>
                                        <div class="totalunit">800</div>
                                    </td>
                                    <td>
                                        <div class="price">15</div>
                                    </td>
                                    <td>
                                        <div class="total-price">12000</div>
                                    </td>
                                    <td>
                                        <div class="transact form-inline">
                                            <div class="mr-xl-2 mr-1">
                                                <a href="#"><i class="la la-arrow-circle-o-down"></i> Deposit</a>
                                            </div>
                                            <div>
                                                <a href="#"> <i class="la la-arrow-circle-o-up"></i>Withdraw</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="currency"> <i class="cc ETC primary"></i> ETC </div>
                                    </td>
                                    <td>
                                        <div class="totalunit">900</div>
                                    </td>
                                    <td>
                                        <div class="price">200</div>
                                    </td>
                                    <td>
                                        <div class="total-price">180000</div>
                                    </td>
                                    <td>
                                        <div class="transact form-inline">
                                            <div class="mr-xl-2 mr-1">
                                                <a href="#"><i class="la la-arrow-circle-o-down"></i> Deposit</a>
                                            </div>
                                            <div>
                                                <a href="#"> <i class="la la-arrow-circle-o-up"></i>Withdraw</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="currency"> <i class="cc FRK warning"></i> FRK </div>
                                    </td>
                                    <td>
                                        <div class="totalunit">500</div>
                                    </td>
                                    <td>
                                        <div class="price">40</div>
                                    </td>
                                    <td>
                                        <div class="total-price">20000</div>
                                    </td>
                                    <td>
                                        <div class="transact form-inline">
                                            <div class="mr-xl-2 mr-1">
                                                <a href="#"><i class="la la-arrow-circle-o-down"></i> Deposit</a>
                                            </div>
                                            <div>
                                                <a href="#"> <i class="la la-arrow-circle-o-up"></i>Withdraw</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="currency"> <i class="cc GAME"></i> GAME </div>
                                    </td>
                                    <td>
                                        <div class="totalunit">850</div>
                                    </td>
                                    <td>
                                        <div class="price">100</div>
                                    </td>
                                    <td>
                                        <div class="total-price">85000</div>
                                    </td>
                                    <td>
                                        <div class="transact form-inline">
                                            <div class="mr-xl-2 mr-1">
                                                <a href="#"><i class="la la-arrow-circle-o-down"></i> Deposit</a>
                                            </div>
                                            <div>
                                                <a href="#"> <i class="la la-arrow-circle-o-up"></i>Withdraw</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="currency"> <i class="cc GNO info"></i>GNO </div>
                                    </td>
                                    <td>
                                        <div class="totalunit">750</div>
                                    </td>
                                    <td>
                                        <div class="price">100</div>
                                    </td>
                                    <td>
                                        <div class="total-price">75000</div>
                                    </td>
                                    <td>
                                        <div class="transact form-inline">
                                            <div class="mr-xl-2 mr-1">
                                                <a href="#"><i class="la la-arrow-circle-o-down"></i> Deposit</a>
                                            </div>
                                            <div>
                                                <a href="#"> <i class="la la-arrow-circle-o-up"></i>Withdraw</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="currency"> <i class="cc ICN warning"></i> ICN </div>
                                    </td>
                                    <td>
                                        <div class="totalunit">720</div>
                                    </td>
                                    <td>
                                        <div class="price">200</div>
                                    </td>
                                    <td>
                                        <div class="total-price">144000</div>
                                    </td>
                                    <td>
                                        <div class="transact form-inline">
                                            <div class="mr-xl-2 mr-1">
                                                <a href="#"><i class="la la-arrow-circle-o-down"></i> Deposit</a>
                                            </div>
                                            <div>
                                                <a href="#"> <i class="la la-arrow-circle-o-up"></i>Withdraw</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="currency"> <i class="cc IOC"></i> ICO </div>
                                    </td>
                                    <td>
                                        <div class="totalunit">300</div>
                                    </td>
                                    <td>
                                        <div class="price">400</div>
                                    </td>
                                    <td>
                                        <div class="total-price">120000</div>
                                    </td>
                                    <td>
                                        <div class="transact form-inline">
                                            <div class="mr-xl-2 mr-1">
                                                <a href="#"><i class="la la-arrow-circle-o-down"></i> Deposit</a>
                                            </div>
                                            <div>
                                                <a href="#"> <i class="la la-arrow-circle-o-up"></i>Withdraw</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="currency"> <i class="cc JBS success"></i> JBS </div>
                                    </td>
                                    <td>
                                        <div class="totalunit">850</div>
                                    </td>
                                    <td>
                                        <div class="price">100</div>
                                    </td>
                                    <td>
                                        <div class="total-price">85000</div>
                                    </td>
                                    <td>
                                        <div class="transact form-inline">
                                            <div class="mr-xl-2 mr-1">
                                                <a href="#"><i class="la la-arrow-circle-o-down"></i> Deposit</a>
                                            </div>
                                            <div>
                                                <a href="#"> <i class="la la-arrow-circle-o-up"></i>Withdraw</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="currency"> <i class="cc KORE primary"></i> KORE </div>
                                    </td>
                                    <td>
                                        <div class="totalunit">630</div>
                                    </td>
                                    <td>
                                        <div class="price">300</div>
                                    </td>
                                    <td>
                                        <div class="total-price">189000</div>
                                    </td>
                                    <td>
                                        <div class="transact form-inline">
                                            <div class="mr-xl-2 mr-1">
                                                <a href="#"><i class="la la-arrow-circle-o-down"></i> Deposit</a>
                                            </div>
                                            <div>
                                                <a href="#"> <i class="la la-arrow-circle-o-up"></i>Withdraw</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="currency"> <i class="cc MCO info"></i> MCO </div>
                                    </td>
                                    <td>
                                        <div class="totalunit">470</div>
                                    </td>
                                    <td>
                                        <div class="price">200</div>
                                    </td>
                                    <td>
                                        <div class="total-price">94000</div>
                                    </td>
                                    <td>
                                        <div class="transact form-inline">
                                            <div class="mr-xl-2 mr-1">
                                                <a href="#"><i class="la la-arrow-circle-o-down"></i> Deposit</a>
                                            </div>
                                            <div>
                                                <a href="#"> <i class="la la-arrow-circle-o-up"></i>Withdraw</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="currency"> <i class="cc MRC success"></i> MRC </div>
                                    </td>
                                    <td>
                                        <div class="totalunit">100</div>
                                    </td>
                                    <td>
                                        <div class="price">10</div>
                                    </td>
                                    <td>
                                        <div class="total-price">10000</div>
                                    </td>
                                    <td>
                                        <div class="transact form-inline">
                                            <div class="mr-xl-2 mr-1">
                                                <a href="#"><i class="la la-arrow-circle-o-down"></i> Deposit</a>
                                            </div>
                                            <div>
                                                <a href="#"> <i class="la la-arrow-circle-o-up"></i>Withdraw</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->


    <footer class="footer footer-static footer-light navbar-border navbar-shadow">
      <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">Copyright  &copy; 2018 <a class="text-bold-800 grey darken-2" href="https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" target="_blank">PIXINVENT </a>, All rights reserved. </span><span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">Hand-crafted & Made with <i class="ft-heart pink"></i></span></p>
    </footer>

    <!-- BEGIN VENDOR JS-->
    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="../../../app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN MODERN JS-->
    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    <!-- END MODERN JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="../../../app-assets/js/scripts/pages/crypto-wallet.js"></script>
    <!-- END PAGE LEVEL JS-->
  </body>
</html>
