@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@font-face {
  font-family: 'futura_bold';
  src: url(public/css/fonts/futura_bold.otf) format("truetype", "opentype"); }

@font-face {
  font-family: 'futura_book_italic';
  src: url(public/css/fonts/futura_book_italic.ttf) format("truetype", "opentype"); }

@font-face {
  font-family: 'futura_book';
  src: url(public/css/fonts/futura_book.ttf) format("truetype", "opentype"); }

@font-face {
  font-family: 'futura_light_bt';
  src: url(public/css/fonts/futura_light_bt.ttf) format("truetype", "opentype"); }

@font-face {
  font-family: 'ONEDAY';
  src: url(public/css/fonts/ONEDAY.otf) format("truetype", "opentype"); }

#content-area {
  margin-left: 280px;
  padding: 15px; }
  #content-area .heading h1 {
    color: #050551;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 10px; }
  #content-area .heading p {
    color: #1b1b1b;
    font-size: 0.8rem;
    margin-bottom: 10px; }
  #content-area .flex-container-top {
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    background-color: #050551;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
    margin-top: 45px; }
    #content-area .flex-container-top .box-1 {
      color: #F4F6F9;
      width: 100%;
      margin: 0px;
      text-align: center;
      margin: 30px; }
      #content-area .flex-container-top .box-1 h3 {
        font-family: 'futura_light_bt', sans-serif;
        font-size: 20px; }
      #content-area .flex-container-top .box-1 h1 {
        font-family: 'futura_book', sans-serif;
        font-size: 40px; }
      #content-area .flex-container-top .box-1 p {
        font-size: 16px; }
  #content-area .home-prices {
    font-family: 'futura_light_bt';
    color: #808080;
    font-size: 22px;
    margin-top: 30px;
    text-align: center; }
  #content-area .flex-container-middle {
    margin-top: 20px;
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    font-family: 'futura_light_bt'; }
    #content-area .flex-container-middle .card1 {
      color: black;
      background-color: white;
      width: 315px;
      margin: 8px;
      text-align: center;
      line-height: 200px;
      font-size: 30px;
      border-radius: 10px;
      box-shadow: 2px 2px 4px #ccc; }
      #content-area .flex-container-middle .card1 .h3 {
        color: #696969; }
    #content-area .flex-container-middle .card2 {
      color: black;
      background-color: white;
      width: 315px;
      margin: 8px;
      text-align: center;
      line-height: 200px;
      font-size: 30px;
      border-radius: 10px;
      box-shadow: 2px 2px 4px #ccc; }
    #content-area .flex-container-middle .card3 {
      color: black;
      background-color: white;
      width: 315px;
      margin: 8px;
      text-align: center;
      line-height: 200px;
      font-size: 30px;
      border-radius: 10px;
      box-shadow: 2px 2px 4px #ccc; }
  #content-area .home-news {
    font-family: 'futura_light_bt';
    color: #808080;
    font-size: 22px;
    margin-top: 30px;
    text-align: center; }
  #content-area .flex-container-bottom {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px; }
    #content-area .flex-container-bottom .news {
      color: black;
      background-color: #f1f1f1;
      width: 480px;
      margin: 3px;
      text-align: center;
      font-size: 30px;
      border-radius: 10px;
      margin-right: 20px;
      background-color: white;
      box-shadow: 2px 2px 4px #ccc; }
      #content-area .flex-container-bottom .news .main-list h3 {
        font-family: 'futura_book';
        color: black;
        font-size: 20px;
        margin-bottom: 20px; }
      #content-area .flex-container-bottom .news .main-list p {
        font-family: 'futura_light_bt';
        color: #808080;
        font-size: 18px;
        text-align: center;
        text-align: justify;
        margin: 37px;
        line-height: 1.5; }
      #content-area .flex-container-bottom .news .main-list .button {
        background-color: #050551;
        border-radius: 10px;
        color: white;
        padding: 10px;
        padding-left: 170px;
        padding-right: 170px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 48px 2px;
        cursor: pointer;
        margin-bottom: 30px;
        transition: all 0.5s;
        border: none; }
      #content-area .flex-container-bottom .news .main-list .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s; }
      #content-area .flex-container-bottom .news .main-list .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s; }
      #content-area .flex-container-bottom .news .main-list .button:hover span {
        padding-right: 25px; }
    #content-area .flex-container-bottom .ddex {
      color: black;
      background-color: #f1f1f1;
      width: 480px;
      margin: 3px;
      text-align: center;
      font-size: 30px;
      border-radius: 10px;
      margin-right: 20px;
      background-color: white;
      box-shadow: 2px 2px 4px #ccc; }
      #content-area .flex-container-bottom .ddex .ddex-list h3 {
        font-family: 'futura_book';
        color: black;
        font-size: 20px;
        margin-bottom: 20px; }
      #content-area .flex-container-bottom .ddex .ddex-list p {
        font-family: 'futura_light_bt';
        color: #808080;
        font-size: 18px;
        text-align: center;
        margin: 20px;
        text-align: justify;
        margin: 37px;
        line-height: 1.5; }
      #content-area .flex-container-bottom .ddex .ddex-list .button {
        background-color: #050551;
        border-radius: 10px;
        color: white;
        padding: 10px;
        padding-left: 170px;
        padding-right: 170px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        margin-bottom: 30px;
        transition: all 0.5s;
        border: none; }
      #content-area .flex-container-bottom .ddex .ddex-list .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s; }
      #content-area .flex-container-bottom .ddex .ddex-list .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s; }
      #content-area .flex-container-bottom .ddex .ddex-list .button:hover span {
        padding-right: 25px; }
  #content-area .cards .card {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    overflow: auto; }
    #content-area .cards .card .user-img {
      /*  background: url("https://s3.amazonaws.com/uifaces/faces/twitter/chadengle/128.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 115px;
        height: 115x;
        border-radius: 50%;
        margin: 0 auto;*/ }
    #content-area .cards .card .user-name {
      font-size: 1rem;
      color: #050551;
      display: block;
      text-align: center;
      margin: 10px 0; }
    #content-area .cards .card .user-title {
      display: block;
      font-size: 0.8rem;
      text-align: center;
      margin: 10px 0; }
    #content-area .cards .card .information {
      font-size: 0.8rem;
      display: inline-block;
      color: #F4F6F9; }
    #content-area .cards .card .information-2 {
      font-size: 0.8rem; }
    #content-area .cards .card h6 {
      font-size: 0.8rem; }
    #content-area .cards .card .date {
      font-size: 1.3rem;
      display: block;
      border-left: 5px solid #28BAAB;
      position: relative;
      left: -20px;
      padding: 5px 40px;
      margin: 20px 0; }

.col-md-4 {
  width: 33.33333%;
  padding: 0 15px;
  margin-right: 10px;
  display: inline-block; }

.col-md-3 {
  width: 25%;
  padding: 0 15px;
  margin-right: 10px;
  display: inline-block;
  float: left; }

.col-md-9 {
  width: 75%;
  padding: 0 15px;
  margin-right: 10px;
  display: inline-block;
  float: left; }

  @media screen and (max-width: 3000px) and (min-width: 1900px), (min-width: 2600px) {
    #content-area, .flex-container-middle, .card1, .card2, .card3 {

          width: 490px;
          line-height: 260px;
      }

    #content-area, .flex-container-bottom, .news, .ddex{

          width: 46.5%;
          line-height: 236%;

        }
      }
