@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

  @font-face {
    font-family: 'futura_bold';
    src: url("../css/fonts/futura_bold.otf");
    src: url("../css/fonts/futura_bold.otf?#iefix") format("otf");
    font-weight: normal;
    font-style: normal; }

  @font-face {
    font-family: 'futura_bold_italic';
    src: url("../css/fonts/futura_bold_italic.ttf");
    src: url("../css/fonts/futura_bold_italic.ttf?#iefix") format("truetype");
    font-weight: normal;
    font-style: normal; }

    @font-face {
      font-family: 'futura_book';
      src: url("../css/fonts/futura_book.ttf");
      src: url("../css/fonts/futura_book.ttf?#iefix") format("truetype");
      font-weight: normal;
      font-style: normal; }

      @font-face {
        font-family: 'futura_light_bt';
        src: url("../css/fonts/futura_light_bt.ttf");
        src: url("../css/fonts/futura_light_bt.ttf?#iefix") format("truetype");
        font-weight: normal;
        font-style: normal; }

        @font-face {
          font-family: 'oneday';
          src: url("../css/fonts/ONEDAY.otf");
          src: url("../css/fonts/ONEDAY.otf?#iefix") format("otf");
          font-weight: normal;
          font-style: normal; }

#content-area {
  margin-left: 280px;
  padding: 15px; }
  #content-area .heading h1 {
    color: #050551;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 10px; }
  #content-area .heading p {
    color: #1b1b1b;
    font-size: 0.8rem;
    margin-bottom: 10px; }
  #content-area .flex-container-top {
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    background-color: #050551;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
    margin-top: 45px; }
    #content-area .flex-container-top .box-1 {
      color: #F4F6F9;
      width: 100%;
      margin: 0px;
      text-align: center;
      margin: 30px; }
      #content-area .flex-container-top .box-1 h3 {
        font-family: 'futura_light_bt', sans-serif;
        font-size: 20px; }
      #content-area .flex-container-top .box-1 h1 {
        font-family: 'futura_book', sans-serif;
        font-size: 40px; }
      #content-area .flex-container-top .box-1 p {
        font-size: 16px; }
  #content-area .home-prices {
    font-family: 'futura_light_bt';
    color: #808080;
    font-size: 22px;
    margin-top: 30px;
    text-align: center; }
  #content-area .flex-container-middle {
    margin-top: 20px;
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    font-family: 'futura_light_bt'; }
    #content-area .flex-container-middle .card1 {
      color: black;
      background-color: white;
      width: 315px;
      margin: 8px;
      text-align: center;
      line-height: 200px;
      font-size: 30px;
      border-radius: 10px;
      box-shadow: 2px 2px 4px #ccc; }
      #content-area .flex-container-middle .card1 .h3 {
        color: #696969; }
    #content-area .flex-container-middle .card2 {
      color: black;
      background-color: white;
      width: 315px;
      margin: 8px;
      text-align: center;
      line-height: 200px;
      font-size: 30px;
      border-radius: 10px;
      box-shadow: 2px 2px 4px #ccc; }
    #content-area .flex-container-middle .card3 {
      color: black;
      background-color: white;
      width: 315px;
      margin: 8px;
      text-align: center;
      line-height: 200px;
      font-size: 30px;
      border-radius: 10px;
      box-shadow: 2px 2px 4px #ccc; }
  #content-area .home-news {
    font-family: 'futura_light_bt';
    color: #808080;
    font-size: 22px;
    margin-top: 30px;
    text-align: center; }
  #content-area .flex-container-bottom {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px; }
    #content-area .flex-container-bottom .news {
      color: black;
      background-color: #f1f1f1;
      width: 480px;
      margin: 3px;
      text-align: center;
      font-size: 30px;
      border-radius: 10px;
      margin-right: 20px;
      background-color: white;
      box-shadow: 2px 2px 4px #ccc; }
      #content-area .flex-container-bottom .news .main-list h3 {
        font-family: 'futura_book';
        color: black;
        font-size: 20px;
        margin-bottom: 20px; }
      #content-area .flex-container-bottom .news .main-list p {
        font-family: 'futura_light_bt';
        color: #808080;
        font-size: 18px;
        text-align: center;
        text-align: justify;
        margin: 37px;
        line-height: 1.5; }
      #content-area .flex-container-bottom .news .main-list .button {
        background-color: #050551;
        border-radius: 10px;
        color: white;
        padding: 10px;
        padding-left: 170px;
        padding-right: 170px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 48px 2px;
        cursor: pointer;
        margin-bottom: 30px;
        transition: all 0.5s;
        border: none; }
      #content-area .flex-container-bottom .news .main-list .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s; }
      #content-area .flex-container-bottom .news .main-list .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s; }
      #content-area .flex-container-bottom .news .main-list .button:hover span {
        padding-right: 25px; }
    #content-area .flex-container-bottom .ddex {
      color: black;
      background-color: #f1f1f1;
      width: 480px;
      margin: 3px;
      text-align: center;
      font-size: 30px;
      border-radius: 10px;
      margin-right: 20px;
      background-color: white;
      box-shadow: 2px 2px 4px #ccc; }
      #content-area .flex-container-bottom .ddex .ddex-list h3 {
        font-family: 'futura_book';
        color: black;
        font-size: 20px;
        margin-bottom: 20px; }
      #content-area .flex-container-bottom .ddex .ddex-list p {
        font-family: 'futura_light_bt';
        color: #808080;
        font-size: 18px;
        text-align: center;
        margin: 20px;
        text-align: justify;
        margin: 37px;
        line-height: 1.5; }
      #content-area .flex-container-bottom .ddex .ddex-list .button {
        background-color: #050551;
        border-radius: 10px;
        color: white;
        padding: 10px;
        padding-left: 170px;
        padding-right: 170px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        margin-bottom: 30px;
        transition: all 0.5s;
        border: none; }
      #content-area .flex-container-bottom .ddex .ddex-list .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s; }
      #content-area .flex-container-bottom .ddex .ddex-list .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s; }
      #content-area .flex-container-bottom .ddex .ddex-list .button:hover span {
        padding-right: 25px; }
  #content-area .cards .card {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    overflow: auto; }
    #content-area .cards .card .user-img {
      /*  background: url("https://s3.amazonaws.com/uifaces/faces/twitter/chadengle/128.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 115px;
        height: 115x;
        border-radius: 50%;
        margin: 0 auto;*/ }
    #content-area .cards .card .user-name {
      font-size: 1rem;
      color: #050551;
      display: block;
      text-align: center;
      margin: 10px 0; }
    #content-area .cards .card .user-title {
      display: block;
      font-size: 0.8rem;
      text-align: center;
      margin: 10px 0; }
    #content-area .cards .card .information {
      font-size: 0.8rem;
      display: inline-block;
      color: #F4F6F9; }
    #content-area .cards .card .information-2 {
      font-size: 0.8rem; }
    #content-area .cards .card h6 {
      font-size: 0.8rem; }
    #content-area .cards .card .date {
      font-size: 1.3rem;
      display: block;
      border-left: 5px solid #28BAAB;
      position: relative;
      left: -20px;
      padding: 5px 40px;
      margin: 20px 0; }

.col-md-4 {
  width: 33.33333%;
  padding: 0 15px;
  margin-right: 10px;
  display: inline-block; }

.col-md-3 {
  width: 25%;
  padding: 0 15px;
  margin-right: 10px;
  display: inline-block;
  float: left; }

.col-md-9 {
  width: 75%;
  padding: 0 15px;
  margin-right: 10px;
  display: inline-block;
  float: left; }

* {
  box-sizing: border-box; }

#wallet-area {
  margin-left: 280px;
  padding: 15px; }
  #wallet-area .heading h1 {
    color: #050551;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 10px; }
  #wallet-area .heading p {
    color: #1b1b1b;
    font-size: 0.8rem;
    margin-bottom: 10px; }
  #wallet-area .flex-container-top {
  /*  background-image: url(" ../img/is-bitcoin-anonymous.-wallet.png");*/

    background-repeat: no-repeat;
    background-size: 100% 340px;
    padding: 30px 100px 100px 100px;
    display: flex;
    flex-wrap: wrap;
    width: 93%;
    background-position: center;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
    margin-top: 37px;
    font-family: 'futura_book', sans-serif;
    /* The Modal (background) */
    /* The Close Button */ }
    #wallet-area .flex-container-top h3 {
      color: #050551;
      font-family: 'futura_book', sans-serif;
      font-size: 20px;
      padding-left: 180px;
      text-shadow: 8px 8px 12px #FFF;
      font-weight: bold; }
    #wallet-area .flex-container-top #button {
      font-family: 'futura_light_bt';
      position: absolute;
      background-color: #050551;
      border-radius: 10px;
      color: white;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 17px;
      margin: 4px 2px;
      border: none;
      margin-left: 26%;
    /*bottom: 42%;*/
      margin-top: 20px;}
    #wallet-area .flex-container-top .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: black;
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
      /* Modal Content/Box */ }
      #wallet-area .flex-container-top .modal .modal-content {
        font-family: 'futura_light_bt';
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 40px;
        border: 1px solid #888;
        width: 46%;
        /* Could be more or less, depending on screen size */
        margin-left: 36%;
        border-radius: 28px; }
        #wallet-area .flex-container-top .modal .modal-content .close {
          color: #aaa;
          bottom: auto;
          float: right;
          font-size: 20px;
          font-weight: bold;
          margin-top: 127px;
          margin-right: -15px; }
          #wallet-area .flex-container-top .modal .modal-content .close p {
            text-align: center;
            margin: 37px;
            line-height: 2.5; }
        #wallet-area .flex-container-top .modal .modal-content .close:hover,
        #wallet-area .flex-container-top .modal .modal-content .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer; }
    #wallet-area .flex-container-top .box-1 {
      color: #F4F6F9;
      width: 100%;
      margin: 0px;
      margin: 30px; }
      #wallet-area .flex-container-top .box-1 h1 {
        font-size: 40px; }
      #wallet-area .flex-container-top .box-1 p {
        font-size: 16px; }
  #wallet-area *, #wallet-area *:before, #wallet-area *:after {
    box-sizing: border-box; }
  #wallet-area body {
    height: 100vh;
    background: #ccc;
    overflow: hidden; }
  #wallet-area #modal-container {
    margin: 60px auto;
    padding-top: 0px;
    position: relative;
    width: 160px; }
    #wallet-area #modal-container .modal-btn {
      font-family: 'futura_light_bt';
      display: block;
      margin: 0 auto;
      color: #fff;
      width: 160px;
      height: 50px;
      line-height: 50px;
      background: #050551;
      font-size: 17px;
      border: 0;
      border-radius: 3px;
      cursor: pointer;
      text-align: center;
      box-shadow: 0 5px 5px -5px #333;
      transition: 0.3s ease-in;
      margin-left: -20px;
      border-radius: 30px; }
      #wallet-area #modal-container .modal-btn:hover {
        background: linear-gradient(to right, #198FAF, #2F9F91); }
    #wallet-area #modal-container .modal-content,
    #wallet-area #modal-container .modal-backdrop {
      width: 100%;
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
      cursor: pointer;
      transition: opacity 0.2s ease-in;
      /*form styles*/ }
      #wallet-area #modal-container .modal-content #msform,
      #wallet-area #modal-container .modal-backdrop #msform {
        text-align: center;
        position: relative;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
        font-family: 'futura_book', sans-serif;
        /*progressbar*/ }
        #wallet-area #modal-container .modal-content #msform fieldset,
        #wallet-area #modal-container .modal-backdrop #msform fieldset {
          background: white;
          border: 0 none;
          border-radius: 20px;
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
          padding: 20px 30px;
          box-sizing: border-box;
          width: 80%;
          margin: 0 10%;
          /*stacking fieldsets above each other*/
          position: absolute;
          /*headings*/ }
          #wallet-area #modal-container .modal-content #msform fieldset .fs-title,
          #wallet-area #modal-container .modal-backdrop #msform fieldset .fs-title {
            font-size: 15px;
            text-transform: uppercase;
            color: #2C3E50;
            margin-bottom: 10px; }
          #wallet-area #modal-container .modal-content #msform fieldset .fs-subtitle,
          #wallet-area #modal-container .modal-backdrop #msform fieldset .fs-subtitle {
            color: black;
            font-weight: normal;
            font-size: 13px;
            margin-bottom: 20px; }
        #wallet-area #modal-container .modal-content #msform fieldset:not(:first-of-type),
        #wallet-area #modal-container .modal-backdrop #msform fieldset:not(:first-of-type) {
          display: none; }
        #wallet-area #modal-container .modal-content #msform input, #wallet-area #modal-container .modal-content #msform textarea,
        #wallet-area #modal-container .modal-backdrop #msform input,
        #wallet-area #modal-container .modal-backdrop #msform textarea {
          padding: 15px;
          border: 1px solid #ccc;
          border-radius: 3px;
          margin-bottom: 10px;
          width: 100%;
          box-sizing: border-box;
          font-family: montserrat;
          color: #2C3E50;
          font-size: 13px; }
        #wallet-area #modal-container .modal-content #msform .action-button,
        #wallet-area #modal-container .modal-backdrop #msform .action-button {
          font-family: 'futura_light_bt';
          width: 240px;
          background: #28BAAB;
          font-weight: bold;
          color: white;
          border: 0 none;
          border-radius: 16px;
          cursor: pointer;
          padding: 10px 5px;
          margin: 10px 5px;
          -webkit-box-shadow: 0 8px 6px -6px #ccc;
          -moz-box-shadow: 0 8px 6px -6px #ccc;
          box-shadow: 0 8px 6px -6px #ccc; }
          #wallet-area #modal-container .modal-content #msform .action-button .action-button:hover, #wallet-area #modal-container .modal-content #msform .action-button .action-button:focus,
          #wallet-area #modal-container .modal-backdrop #msform .action-button .action-button:hover,
          #wallet-area #modal-container .modal-backdrop #msform .action-button .action-button:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60; }
        #wallet-area #modal-container .modal-content #msform #progressbar,
        #wallet-area #modal-container .modal-backdrop #msform #progressbar {
          margin-bottom: 30px;
          overflow: hidden;
          /*CSS counters to number the steps*/
          counter-reset: step; }
          #wallet-area #modal-container .modal-content #msform #progressbar li,
          #wallet-area #modal-container .modal-backdrop #msform #progressbar li {
            list-style-type: none;
            color: white;
            text-transform: uppercase;
            font-size: 9px;
            width: 33.33%;
            float: left;
            position: relative;
            /*progressbar connectors*/
            /*marking active/completed steps green*/
            /*The number of the step and the connector before it = green*/ }
            #wallet-area #modal-container .modal-content #msform #progressbar li li:before,
            #wallet-area #modal-container .modal-backdrop #msform #progressbar li li:before {
              content: counter(step);
              counter-increment: step;
              width: 20px;
              line-height: 20px;
              display: block;
              font-size: 10px;
              color: #333;
              background: white;
              border-radius: 3px;
              margin: 0 auto 5px auto; }
            #wallet-area #modal-container .modal-content #msform #progressbar li li:after,
            #wallet-area #modal-container .modal-backdrop #msform #progressbar li li:after {
              content: '';
              width: 100%;
              height: 2px;
              background: white;
              position: absolute;
              left: -50%;
              top: 9px;
              z-index: 0; }
            #wallet-area #modal-container .modal-content #msform #progressbar li li:first-child:after,
            #wallet-area #modal-container .modal-backdrop #msform #progressbar li li:first-child:after {
              /*connector not needed before the first step*/
              content: none; }
            #wallet-area #modal-container .modal-content #msform #progressbar li li.active:before, #wallet-area #modal-container .modal-content #msform #progressbar li li.active:after,
            #wallet-area #modal-container .modal-backdrop #msform #progressbar li li.active:before,
            #wallet-area #modal-container .modal-backdrop #msform #progressbar li li.active:after {
              background: #27AE60;
              color: white; }
    #wallet-area #modal-container .modal-close {
      color: #aaa;
      position: absolute;
      right: 5px;
      top: 5px;
      padding-top: 3px;
      background: #fff;
      font-size: 16px;
      width: 25px;
      height: 25px;
      font-weight: bold;
      text-align: center;
      cursor: pointer; }
      #wallet-area #modal-container .modal-close:hover {
        color: #333; }
    #wallet-area #modal-container .modal-content-btn {
      position: absolute;
      text-align: center;
      cursor: pointer;
      bottom: 20px;
      right: 30px;
      background: #446CB3;
      color: #fff;
      width: 50px;
      border-radius: 2px;
      font-size: 14px;
      height: 32px;
      padding-top: 9px;
      font-weight: normal; }
      #wallet-area #modal-container .modal-content-btn:hover {
        color: #fff;
        background: #365690; }
    #wallet-area #modal-container #modal-toggle {
      display: none; }
      #wallet-area #modal-container #modal-toggle.active ~ .modal-backdrop,
      #wallet-area #modal-container #modal-toggle:checked ~ .modal-backdrop {
        background-color: rgba(0, 0, 0, 0.6);
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9;
        visibility: visible;
        opacity: 1;
        transition: opacity 0.2s ease-in; }
      #wallet-area #modal-container #modal-toggle.active ~ .modal-content,
      #wallet-area #modal-container #modal-toggle:checked ~ .modal-content {
        opacity: 1;
        max-width: 500px;
        width: 500px;
        height: 465px;
        position: fixed;
        left: calc(50% - 200px);
        top: 12%;
        border-radius: 4px;
        z-index: 999;
        pointer-events: auto;
        cursor: auto;
        visibility: visible; }
        @media (max-width: 400px) {
          #wallet-area #modal-container #modal-toggle.active ~ .modal-content,
          #wallet-area #modal-container #modal-toggle:checked ~ .modal-content {
            left: 0; } }
  #wallet-area .container {
    background: white;
    padding: 20px;
    width: 93%;
    margin-top: -82px;
    -moz-box-shadow: inset 0 0 4px #ccc;
    -webkit-box-shadow: inset 0 0 4px #ccc;
    box-shadow: inset 0 0 4px #ccc; }
    #wallet-area .container .flex-container-middle {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 25px;
      background: white; }
      #wallet-area .container .flex-container-middle .main-list {
        display: flex;
        flex-wrap: wrap; }
        #wallet-area .container .flex-container-middle .main-list .list-item {
          font-family: 'futura_book';
          color: #F4F6F9;
          width: 290px;
          padding: 40px;
          margin: 8px;
          text-align: center;
          border-radius: 10px;
          background-image: linear-gradient(to right, #198FAF, #2F9F91);
          box-shadow: 2px 2px 4px #ccc; }

@font-face {
  font-family: 'futura_bold';
  src: url(fonts/futura_bold.otf) format("truetype", "opentype"); }

@font-face {
  font-family: 'futura_book_italic';
  src: url(fonts/futura_book_italic.ttf) format("truetype", "opentype"); }

@font-face {
  font-family: 'futura_book';
  src: url(fonts/futura_book.ttf) format("truetype", "opentype"); }

@font-face {
  font-family: 'futura_light_bt';
  src: url(fonts/futura_light_bt.ttf) format("truetype", "opentype"); }

@font-face {
  font-family: 'ONEDAY';
  src: url(fonts/ONEDAY.otf) format("truetype", "opentype"); }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype"); }

* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  background: #f7f7f7; }

header .sticky {
  margin-top: -20px;
  margin-left: 0px;
  padding: 20px 10px 37px 0;
  background: #050551;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  font-family: 'futura_book';
  font-size: 15px;
  color: #000000;
  border: 1px solid black;
  position: fixed;
  height: 50px;
  width: 100%;
  transition: all 0.4s ease;
  z-index: 10000;
  /*.search-area{
      .fa{
        color: $darkGrey;
        width: 50%;
      }

      input[type="text"] {
        background: transparent;
        border: none;
        font-size: 1.3rem;
        color: $darkBlue;
        padding: 10px;
        font-weight: 100;
        width: 80%;
        transition: all .5 ease-in-out;

        &:hover {
        background: $lightBlue;
      }
      }
    }*/ }
  header .sticky .user-area {
    display: inline-block;
    float: right;
    padding: -10px; }
    header .sticky .user-area a {
      display: inline-block;
      padding-right: 20px;
      text-decoration: none;
      vertical-align: top;
      height: 30px;
      color: #F4F6F9;
      font-size: 16px;
      font-weight: 400;
      padding-top: 2px; }
      header .sticky .user-area a.add {
        font-size: 15px;
        font-weight: 400;
        padding-top: 7px; }
      header .sticky .user-area a.notification {
        position: relative; }
        header .sticky .user-area a.notification .circle {
          background: red;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          display: inline-block;
          font-size: 11px;
          color: white;
          text-align: center;
          position: absolute;
          top: -3px;
          left: 7px; }
      header .sticky .user-area a .user-img {
        background: url("https://s3.amazonaws.com/uifaces/faces/twitter/chadengle/128.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px; }
      header .sticky .user-area a .fa-caret-down {
        position: relative;
        top: -8px; }

#page-wrap {
  width: 615px;
  margin: 15px auto;
  position: relative; }
  #page-wrap #sideMenu {
    font-family: 'futura_light_bt', sans-serif;
    background: linear-gradient(#00004d, #33b399);
    opacity: 0.95;
    top: 0;
    bottom: 0;
    width: 240px;
    position: fixed;
    margin-left: -377px; }
    #page-wrap #sideMenu .user-profile {
      display: inline-block;
      float: 30px;
      padding: -10px; }
      #page-wrap #sideMenu .user-profile a {
        display: inline-block;
        padding-right: 20px;
        text-decoration: none;
        vertical-align: top;
        height: 30px; }
        #page-wrap #sideMenu .user-profile a .user-img {
          background: url("https://s3.amazonaws.com/uifaces/faces/twitter/chadengle/128.jpg") no-repeat center center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          width: 85px;
          height: 85px;
          border-radius: 50%;
          display: inline-block;
          margin-left: 70px;
          margin-top: 80px; }
          #page-wrap #sideMenu .user-profile a .user-img .user-email {
            color: #F4F6F9;
            text-align: left;
            margin-top: 100px;
            margin-left: -36px;
            font-size: 14px; }
    #page-wrap #sideMenu nav {
      padding-top: 195px;
      color: transparent; }
      #page-wrap #sideMenu nav li a {
        font-size: 15px;
        font-family: 'futura_book', sans-serif;
        display: block;
        color: white;
        text-decoration: none;
        padding: 15px 30px;
        font-weight: 300;
        transition: all 0.5s ease-in-out; }
        #page-wrap #sideMenu nav li a:hover {
          background: #2A4170;
          border-right: 5px solid #28BAAB;
          padding: 15px 30px 15px 25px; }
          #page-wrap #sideMenu nav li a:hover .fa {
            color: #28BAAB; }
        #page-wrap #sideMenu nav li a .fa {
          color: #F4F6F9;
          font-size: 1.4rem;
          margin-right: 0.8rem;
          display: inline-block;
          width: 30px;
          position: relative;
          top: 2px; }
        #page-wrap #sideMenu nav li a.active {
          background: #2A4170;
          border-right: 5px solid #28BAAB;
          padding: 15px 30px 15px 31px; }
          #page-wrap #sideMenu nav li a.active .fa {
            color: #28BAAB; }

@media screen and (max-width: 3000px) and (min-width: 1900px), (min-width: 2600px) {
  #page-wrap #sideMenu {
    margin-left: -34%; }
  }

  /*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  #page-wrap #sideMenu {
    margin-left: -28.7vw; }
  }

  #wallet-area .container .flex-container-middle .main-list .list-item {
    width: 31.5%;
    height: 16%;
  }


}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  //CSS

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  //CSS

}
