/* remove codrops styles and reset the whole thing */

#container_demo {
  text-align: left;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
/*  background: linear-gradient(#00004d, #33b399); */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #00004d;
/*  box-shadow: 0 8px 6px -6px black;*/}

li {
  float: left; }
  li a {
    font-family: 'futura_light_bt';
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
    li a:hover:not(.active) {
      background-color: #111; }

/*.active {
    background-color: #20c9b5;
}*/
/** fonts used for the icons **/
@font-face {
  font-family: 'FontomasCustomRegular';
  src: url("../css/fonts/fontomas-webfont.eot");
  src: url("../css/fonts/fontomas-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/fontomas-webfont.woff") format("woff"), url("fonts/fontomas-webfont.ttf") format("truetype"), url("fonts/fontomas-webfont.svg#FontomasCustomRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FranchiseRegular';
  src: url("../css/fonts/franchise-bold-webfont.eot");
  src: url("../css/fonts/franchise-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/franchise-bold-webfont.woff") format("woff"), url("fonts/franchise-bold-webfont.ttf") format("truetype"), url("fonts/franchise-bold-webfont.svg#FranchiseRegular") format("svg");
  font-weight: normal;
  font-style: normal; }


    @font-face {
      font-family: 'futura_bold';
      src: url("../css/fonts/futura_bold.otf");
      src: url("../css/fonts/futura_bold.otf?#iefix") format("otf");
      font-weight: normal;
      font-style: normal; }

    @font-face {
      font-family: 'futura_bold_italic';
      src: url("../css/fonts/futura_bold_italic.ttf");
      src: url("../css/fonts/futura_bold_italic.ttf?#iefix") format("truetype");
      font-weight: normal;
      font-style: normal; }

      @font-face {
        font-family: 'futura_book';
        src: url("../css/fonts/futura_book.ttf");
        src: url("../css/fonts/futura_book.ttf?#iefix") format("truetype");
        font-weight: normal;
        font-style: normal; }

        @font-face {
          font-family: 'futura_light_bt';
          src: url("../css/fonts/futura_light_bt.ttf");
          src: url("../css/fonts/futura_light_bt.ttf?#iefix") format("truetype");
          font-weight: normal;
          font-style: normal; }

          @font-face {
            font-family: 'oneday';
            src: url("../css/fonts/ONEDAY.otf");
            src: url("../css/fonts/ONEDAY.otf?#iefix") format("otf");
            font-weight: normal;
            font-style: normal; }

a.hiddenanchor {
  display: none; }

/** The wrapper that will contain our two forms **/
#wrapper {
  width: 60%;
  /*min-height: 560px;*/
  min-height: 40vw;
  right: 0px;
  margin: 0px auto;
  width: 440px;
  position: relative;
  margin-top: 50px;
}
  #wrapper a {
    color: #5f9bc6;
    text-decoration: underline; }
  #wrapper h1 {
    font-size: 30px;
    color: #fff;
    padding: 2px 0 10px 0;
    font-family: 'futura_light_bt';
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }
  #wrapper p {
    font-family: 'futura_light_bt';
    margin-bottom: 15px; }
    #wrapper p:first-child {
      margin: 0px; }
  #wrapper label {
    font-family: 'futura_light_bt';
    color: #fff;
    position: relative; }


/**** Styling the form elements **/
/**** general text styling ****/
/** For the moment only webkit supports the background-clip:text; */
/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder, input:-moz-placeholder, textarea:-moz-placeholder {
  color: #bebcbc;
  font-style: italic; }

input {
  outline: none; }



/* all the input except submit and checkbox */
#wrapper input:not([type="checkbox"]) {
  font-family: 'futura_light_bt';
  width: 90%;
  margin-top: 4px;
  padding: 10px 5px 10px 32px;
  border: 1px solid #b2b2b2;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  #wrapper input:not([type="checkbox"]):active, #wrapper input:not([type="checkbox"]):focus {
    border: 1px solid rgba(91, 90, 90, 0.7);
    background: rgba(238, 236, 240, 0.2);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset; }

/** the magic icon trick ! **/
[data-icon]:after {
  content: attr(data-icon);
  font-family: 'futura_light_bt';
  color: #6a9fab;
  position: absolute;
  left: 10px;
  top: 35px;
  width: 30px; }

  /*NEW BUTTON */

  #wrapper #doLogin {
    width: 85%;
    cursor: pointer;
    background: #00004d;
    padding: 8px 5px;
    font-family: 'futura_light_bt';
    color: #fff;
    font-size: 20px;
    border: 1px solid #1c6c7a;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
  }

  #wrapper #doRegister {
    width: 85%;
    cursor: pointer;
    background: #00004d;
    padding: 8px 5px;
    font-family: 'futura_light_bt';
    color: #fff;
    font-size: 20px;
    border: 1px solid #1c6c7a;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
  }

/*styling both submit buttons */
#wrapper p.button input {
  width: 85%;
  cursor: pointer;
  background: #00004d;
  padding: 8px 5px;
  font-family: 'futura_light_bt';
  color: #fff;
  font-size: 20px;
/*  border: 1px solid #1c6c7a; */
  margin-bottom: 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 15px; }
  #wrapper p.button input:hover {
    /*background: rgb(74, 179, 198);*/
    background: #20c9b5; }
  #wrapper p.button input:active, #wrapper p.button input:focus {
    background: #28899a;
    position: relative;
    top: 1px;
    border: 1px solid #0c4c57;
    -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset; }

p.login.button, p.signin.button {
  text-align: center;
  margin: 5px 0; }

/* styling the checkbox "keep me logged in"*/
.keeplogin {
  margin-top: -5px; }
  .keeplogin input, .keeplogin label {
    font-family: 'futura_light_bt';
    display: inline-block;
    font-size: 12px;
  /*  font-style: italic;*/ }
  .keeplogin input#loginkeeping {
    margin-right: 5px; }
  .keeplogin label {
    width: 80%; }

/*styling the links to change from one form to another */
p.change_link {
  position: absolute;
  color: #fff;
  left: 0px;
  height: 20px;
  width: 440px;
  padding: 17px 30px 20px -1px;
  font-size: 16px;
/*  text-align: right; */
  text-align: center;
  border-top: 1px solid #dbe5e8;
  -webkit-border-radius: 0 0  5px 5px;
  -moz-border-radius: 0 0  5px 5px;
  border-radius: 0 0  5px 5px;
  /*background: rgb(225, 234, 235);*/
  /*background: -moz-repeating-linear-gradient(-45deg,
  rgb(247, 247, 247) ,
  rgb(247, 247, 247) 15px,
  rgb(225, 234, 235) 15px,
  rgb(225, 234, 235) 30px,
  rgb(247, 247, 247) 30px
  );
  background: -webkit-repeating-linear-gradient(-45deg,
  rgb(247, 247, 247) ,
  rgb(247, 247, 247) 15px,
  rgb(225, 234, 235) 15px,
  rgb(225, 234, 235) 30px,
  rgb(247, 247, 247) 30px
  );
  background: -o-repeating-linear-gradient(-45deg,
  rgb(247, 247, 247) ,
  rgb(247, 247, 247) 15px,
  rgb(225, 234, 235) 15px,
  rgb(225, 234, 235) 30px,
  rgb(247, 247, 247) 30px
  );
  background: repeating-linear-gradient(-45deg,
  rgb(247, 247, 247) ,
  rgb(247, 247, 247) 15px,
  rgb(225, 234, 235) 15px,
  rgb(225, 234, 235) 30px,
  rgb(247, 247, 247) 30px
  );*/ }

#wrapper p.change_link a {
  display: inline-block;
  font-weight: bold;
  padding: 13px 6px;
  color: #00004d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s  linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s  linear;
  transition: all 0.4s  linear; }
  #wrapper p.change_link a:hover {
    color: #39bfd7;
    background: #f7f7f7;
    border: 1px solid #4ab3c6; }
  #wrapper p.change_link a:active {
    position: relative;
    top: 1px; }

/** Styling both forms **/
#register, #login {
  position: absolute;
  top: 0px;
  width: 88%;
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  /*background: rgb(247, 247, 247);*/
  border: 1px solid rgba(147, 184, 189, 0.8);
  -webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
  -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
  box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
  -webkit-box-shadow: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

#register {
  z-index: 21;
  opacity: 0;
  border-radius: 31px;
      background: rgba(255,255,255,0.3);}

#login {
  z-index: 22;
  border-radius: 31px;
background:rgba(255,255,255,0.3)}

#toregister:target ~ #wrapper #register, #tologin:target ~ #wrapper #login {
  z-index: 22;
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -ms-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -o-animation-delay: .1s;
  -ms-animation-delay: .1s;
  animation-delay: .1s; }

#toregister:target ~ #wrapper #login, #tologin:target ~ #wrapper #register {
  -webkit-animation-name: fadeOutLeft;
  -moz-animation-name: fadeOutLeft;
  -ms-animation-name: fadeOutLeft;
  -o-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft; }

/** the actual animation, credit where due : http://daneden.me/animate/ ***/
.animate {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 0.5s;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: both;
  -o-animation-duration: 0.5s;
  -o-animation-timing-function: ease;
  -o-animation-fill-mode: both;
  -ms-animation-duration: 0.5s;
  -ms-animation-timing-function: ease;
  -ms-animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both; }

/** yerk some ugly IE fixes 'cause I know someone will ask "why does it look ugly in IE?", no matter how many warnings I will put in the article */
.lt8 #wrapper input {
  padding: 10px 5px 10px 32px;
  width: 92%; }
  .lt8 #wrapper input[type=checkbox] {
    width: 10px;
    padding: 0; }

.lt8 #wrapper h1 {
  color: #066A75; }

.lt8 #register {
  display: none; }

.lt8 p.change_link {
  position: absolute;
  height: 90px;
  background: transparent; }

.ie9 p.change_link {
  position: absolute;
  height: 90px;
  background: transparent; }

  @media screen and (max-width: 3000px) and (min-width: 1900px), (min-width: 2600px) {
      #wrapper {
        min-height: 60vw;
      }
      #register, #login {
        top: 100px;
      }
    }
