* {
  box-sizing: border-box; }

#wallet-area {
  margin-left: 280px;
  padding: 15px; }
  #wallet-area .heading h1 {
    color: #050551;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 10px; }
  #wallet-area .heading p {
    color: #1b1b1b;
    font-size: 0.8rem;
    margin-bottom: 10px; }
  #wallet-area .flex-container-top {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 93%;
    background-image: linear-gradient(to bottom, #2F9F91, #198FAF);
    box-shadow: 3px 3px 5px 6px #ccc;
    margin-top: 45px;
    #wallet-area .flex-container-top h3 {
      color: #050551;
      font-family: 'futura_book', sans-serif;
      font-size: 20px;
      padding-left: 103px;
      text-shadow: 8px 8px 12px #FFF;
      font-weight: bold; }
    #wallet-area .flex-container-top #button {
      font-family: 'futura_light_bt';
      position: absolute;
      background-color: #050551;
      border-radius: 10px;
      color: white;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 17px;
      margin: 4px 2px;
      border: none;
      bottom: 50%; }
    #wallet-area .flex-container-top .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: black;
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
      /* Modal Content/Box */ }
      #wallet-area .flex-container-top .modal .modal-content {
        font-family: 'futura_light_bt';
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 40px;
        border: 1px solid #888;
        width: 46%;
        /* Could be more or less, depending on screen size */
        margin-left: 36%;
        border-radius: 28px; }
        #wallet-area .flex-container-top .modal .modal-content .close {
          color: #aaa;
          bottom: auto;
          float: right;
          font-size: 20px;
          font-weight: bold;
          margin-top: 127px;
          margin-right: -15px; }
          #wallet-area .flex-container-top .modal .modal-content .close p {
            text-align: center;
            margin: 37px;
            line-height: 2.5; }
        #wallet-area .flex-container-top .modal .modal-content .close:hover,
        #wallet-area .flex-container-top .modal .modal-content .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer; }
    #wallet-area .flex-container-top .box-1 {
      color: #F4F6F9;
      width: 100%;
      margin: 0px;
      text-align: center;
      margin: 30px; }
      #wallet-area .flex-container-top .box-1 h1 {
        font-size: 40px; }
      #wallet-area .flex-container-top .box-1 p {
        font-size: 16px; }
  #wallet-area *, #wallet-area *:before, #wallet-area *:after {
    box-sizing: border-box; }
  #wallet-area body {
    height: 100vh;
    background: #ccc;
    overflow: hidden; }
  #wallet-area #modal-container {
    margin: 60px auto;
    padding-top: 0px;
    position: relative;
    width: 160px; }
    #wallet-area #modal-container .modal-btn {
      font-family: 'futura_light_bt';
      display: block;
      margin: 0 auto;
      color: #fff;
      width: 160px;
      height: 50px;
      line-height: 50px;
      background: #050551;
      font-size: 17px;
      border: 0;
      border-radius: 3px;
      cursor: pointer;
      text-align: center;
      box-shadow: 0 5px 5px -5px #333;
      transition: 0.3s ease-in;
      margin-left: -20px;
      border-radius: 30px; }
      #wallet-area #modal-container .modal-btn:hover {
        background: linear-gradient(to right, #198FAF, #2F9F91); }
    #wallet-area #modal-container .modal-content,
    #wallet-area #modal-container .modal-backdrop {
      width: 100%;
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
      cursor: pointer;
      transition: opacity 0.2s ease-in;
      /*form styles*/ }
      #wallet-area #modal-container .modal-content #msform,
      #wallet-area #modal-container .modal-backdrop #msform {
        text-align: center;
        position: relative;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
        font-family: 'futura_book', sans-serif;
        /*progressbar*/ }
        #wallet-area #modal-container .modal-content #msform fieldset,
        #wallet-area #modal-container .modal-backdrop #msform fieldset {
          background: white;
          border: 0 none;
          border-radius: 20px;
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
          padding: 20px 30px;
          box-sizing: border-box;
          width: 80%;
          margin: 0 10%;
          /*stacking fieldsets above each other*/
          position: absolute;
          /*headings*/ }
          #wallet-area #modal-container .modal-content #msform fieldset .fs-title,
          #wallet-area #modal-container .modal-backdrop #msform fieldset .fs-title {
            font-size: 15px;
            text-transform: uppercase;
            color: #2C3E50;
            margin-bottom: 10px; }
          #wallet-area #modal-container .modal-content #msform fieldset .fs-subtitle,
          #wallet-area #modal-container .modal-backdrop #msform fieldset .fs-subtitle {
            color: black;
            font-weight: normal;
            font-size: 13px;
            margin-bottom: 20px; }
        #wallet-area #modal-container .modal-content #msform fieldset:not(:first-of-type),
        #wallet-area #modal-container .modal-backdrop #msform fieldset:not(:first-of-type) {
          display: none; }
        #wallet-area #modal-container .modal-content #msform input, #wallet-area #modal-container .modal-content #msform textarea,
        #wallet-area #modal-container .modal-backdrop #msform input,
        #wallet-area #modal-container .modal-backdrop #msform textarea {
          padding: 15px;
          border: 1px solid #ccc;
          border-radius: 3px;
          margin-bottom: 10px;
          width: 100%;
          box-sizing: border-box;
          font-family: montserrat;
          color: #2C3E50;
          font-size: 13px; }
        #wallet-area #modal-container .modal-content #msform .action-button,
        #wallet-area #modal-container .modal-backdrop #msform .action-button {
          font-family: 'futura_light_bt';
          width: 240px;
          background: #28BAAB;
          font-weight: bold;
          color: white;
          border: 0 none;
          border-radius: 16px;
          cursor: pointer;
          padding: 10px 5px;
          margin: 10px 5px;
          -webkit-box-shadow: 0 8px 6px -6px #ccc;
          -moz-box-shadow: 0 8px 6px -6px #ccc;
          box-shadow: 0 8px 6px -6px #ccc; }
          #wallet-area #modal-container .modal-content #msform .action-button .action-button:hover, #wallet-area #modal-container .modal-content #msform .action-button .action-button:focus,
          #wallet-area #modal-container .modal-backdrop #msform .action-button .action-button:hover,
          #wallet-area #modal-container .modal-backdrop #msform .action-button .action-button:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60; }
        #wallet-area #modal-container .modal-content #msform #progressbar,
        #wallet-area #modal-container .modal-backdrop #msform #progressbar {
          margin-bottom: 30px;
          overflow: hidden;
          /*CSS counters to number the steps*/
          counter-reset: step; }
          #wallet-area #modal-container .modal-content #msform #progressbar li,
          #wallet-area #modal-container .modal-backdrop #msform #progressbar li {
            list-style-type: none;
            color: white;
            text-transform: uppercase;
            font-size: 9px;
            width: 33.33%;
            float: left;
            position: relative;
            /*progressbar connectors*/
            /*marking active/completed steps green*/
            /*The number of the step and the connector before it = green*/ }
            #wallet-area #modal-container .modal-content #msform #progressbar li li:before,
            #wallet-area #modal-container .modal-backdrop #msform #progressbar li li:before {
              content: counter(step);
              counter-increment: step;
              width: 20px;
              line-height: 20px;
              display: block;
              font-size: 10px;
              color: #333;
              background: white;
              border-radius: 3px;
              margin: 0 auto 5px auto; }
            #wallet-area #modal-container .modal-content #msform #progressbar li li:after,
            #wallet-area #modal-container .modal-backdrop #msform #progressbar li li:after {
              content: '';
              width: 100%;
              height: 2px;
              background: white;
              position: absolute;
              left: -50%;
              top: 9px;
              z-index: 0; }
            #wallet-area #modal-container .modal-content #msform #progressbar li li:first-child:after,
            #wallet-area #modal-container .modal-backdrop #msform #progressbar li li:first-child:after {
              /*connector not needed before the first step*/
              content: none; }
            #wallet-area #modal-container .modal-content #msform #progressbar li li.active:before, #wallet-area #modal-container .modal-content #msform #progressbar li li.active:after,
            #wallet-area #modal-container .modal-backdrop #msform #progressbar li li.active:before,
            #wallet-area #modal-container .modal-backdrop #msform #progressbar li li.active:after {
              background: #27AE60;
              color: white; }
    #wallet-area #modal-container .modal-close {
      color: #aaa;
      position: absolute;
      right: 5px;
      top: 5px;
      padding-top: 3px;
      background: #fff;
      font-size: 16px;
      width: 25px;
      height: 25px;
      font-weight: bold;
      text-align: center;
      cursor: pointer; }
      #wallet-area #modal-container .modal-close:hover {
        color: #333; }
    #wallet-area #modal-container .modal-content-btn {
      position: absolute;
      text-align: center;
      cursor: pointer;
      bottom: 20px;
      right: 30px;
      background: #446CB3;
      color: #fff;
      width: 50px;
      border-radius: 2px;
      font-size: 14px;
      height: 32px;
      padding-top: 9px;
      font-weight: normal; }
      #wallet-area #modal-container .modal-content-btn:hover {
        color: #fff;
        background: #365690; }
    #wallet-area #modal-container #modal-toggle {
      display: none; }
      #wallet-area #modal-container #modal-toggle.active ~ .modal-backdrop,
      #wallet-area #modal-container #modal-toggle:checked ~ .modal-backdrop {
        background-color: rgba(0, 0, 0, 0.6);
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9;
        visibility: visible;
        opacity: 1;
        transition: opacity 0.2s ease-in; }
      #wallet-area #modal-container #modal-toggle.active ~ .modal-content,
      #wallet-area #modal-container #modal-toggle:checked ~ .modal-content {
        opacity: 1;
        max-width: 500px;
        width: 500px;
        height: 465px;
        position: fixed;
        left: calc(50% - 200px);
        top: 12%;
        border-radius: 4px;
        z-index: 999;
        pointer-events: auto;
        cursor: auto;
        visibility: visible; }
        @media (max-width: 400px) {
          #wallet-area #modal-container #modal-toggle.active ~ .modal-content,
          #wallet-area #modal-container #modal-toggle:checked ~ .modal-content {
            left: 0; } }
  #wallet-area .container {
    background: white;
    padding: 20px;
    width: 93%;
    margin-top: -82px;
    -moz-box-shadow: inset 0 0 4px #ccc;
    -webkit-box-shadow: inset 0 0 4px #ccc;
    box-shadow: inset 0 0 4px #ccc; }
    #wallet-area .container .flex-container-middle {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 25px;
      background: white; }
      #wallet-area .container .flex-container-middle .main-list {
        display: flex;
        flex-wrap: wrap; }
        #wallet-area .container .flex-container-middle .main-list .list-item {
          font-family: 'futura_book';
          color: #F4F6F9;
          width: 290px;
          padding: 40px;
          margin: 8px;
          text-align: center;
          border-radius: 10px;
          background-image: linear-gradient(to right, #198FAF, #2F9F91);
          box-shadow: 2px 2px 4px #ccc; }
